div {
    background-color: white;
    color: black;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
  }
  
  p {
    background-color: peachpuff;
    color: brown;
    font-size: 18px;
  }